.text-white,
.text-white-75 {
    color: #f8f8ff !important
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif
}

:root {
    --purple: #8e2de2;
    --primary: #4a00e0;
    --blue: #7e5eff;
    --dark_blue: #5f3ee6;
    --yellow: #fff78a;
    --dark_yellow: #fff56d;
    --white: #ffffff;
    --black: #000000;
    --dark: #15161e;
    --light: #fbfbfb;
    --navbar_bg: #181a25;
    --btn_padding: 0.5rem 1.5rem;
    --trans: .3s ease;
    --font_sm: 0.9rem;
    --font_md: 1.1rem
}

.text-white-75 {
    opacity: .75 !important
}

html {
    scroll-behavior: smooth
}

body {
    overflow-x: hidden;
    background: var(--dark)
}

#mainWrapper {
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1240px;
    margin: auto
}

.noWrapText {
    white-space: nowrap
}

.lh_lg {
    line-height: 1.5
}

.cursor {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: 0 0;
    pointer-events: none;
    z-index: 9999;
    border: 2px solid #fff;
    transition: .6s ease-out;
    animation: .3s infinite alternate moveCursor1
}

.expand {
    background: 0 0;
    animation: .3s forwards moveCursor2;
    border: 2px solid var(--wood_red)
}

@keyframes moveCursor1 {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(.8)
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(2)
    }

    100% {
        transform: scale(1);
        opacity: 0
    }
}

.hover_shadow {
    transition: var(--trans)
}

.hover_shadow:hover {
    box-shadow: 0 4px 8px 4px #00000034
}

.bg_blue {
    background: var(--blue)
}

.bg_dark {
    background: var(--dark)
}

.text_blue {
    color: var(--blue)
}

.text_dark {
    color: var(--dark)
}

.text_light {
    color: var(--light)
}

.fs_6 {
    font-size: var(--font_sm)
}

.fs_5 {
    font-size: var(--font_md)
}

.btn_blue,
.btn_invert_blue {
    position: relative;
    border-radius: .8em;
    user-select: none;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #f8f8ff;
    fill: ghostwhite;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .65rem 1.2rem;
    text-decoration: none
}

.btn_blue span,
.btn_invert_blue span {
    position: relative;
    z-index: 10;
    transition: color .4s;
    align-items: center;
    display: inline-flex
}

.btn_blue svg,
.btn_invert_blue svg {
    margin-left: .25em
}

.btn_invert_blue span {
    width: 100%;
    height: 100%
}

.btn_blue::after,
.btn_blue::before,
.btn_invert_blue::after,
.btn_invert_blue::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}

.btn_blue::before,
.btn_invert_blue::before {
    content: "";
    height: 120%;
    width: 120%;
    left: -10%;
    transition: transform .4s cubic-bezier(.3, 1, .8, 1)
}

.btn_invert_blue::before {
    background: var(--dark);
    transform: skew(30deg)
}

.btn_blue:hover::before,
.btn_invert_blue:hover::before {
    transform: translate3d(100%, 0, 0)
}

.btn_blue:active,
.btn_invert_blue:active {
    transform: scale(.95)
}

.btn_yellow,
.navbar-nav a {
    font-size: var(--font_sm);
    transition: var(--trans)
}

.btn_blue::before {
    background: #241b46;
    transform: skew(30deg)
}

.btn_yellow {
    background: var(--yellow);
    color: var(--black);
    fill: var(--black);
    padding: var(--btn_padding);
    border: 1px solid var(--yellow);
    text-decoration: none;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.btn_yellow:hover {
    background: var(--dark_yellow)
}

#navbar {
    background: var(--navbar_bg);
    border-radius: 100px
}

.navbar_sm_logo {
    display: none
}

@media (max-width:525px) {
    .navbar_lg_logo {
        display: none
    }

    .navbar_sm_logo {
        display: block
    }
}

.navbar_parent {
    max-width: 1140px;
    margin: auto;
    padding: .3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998
}

@media (max-width:991px) {
    .cursor {
        display: none !important
    }

    #navbar {
        border-radius: 0
    }

    .navbar_parent {
        padding: 0
    }

    .navbar-nav a {
        padding: .5rem !important
    }
}

.navbar-nav a {
    color: var(--light) !important;
    padding: 0;
    margin: 0 .3rem;
    opacity: .75
}

.navbar-nav a:hover {
    opacity: 1
}